<form class="{{cssClass}} {{actor.type}} flexcol main-sheet" autocomplete="off">
    <header class="sheet-header">
        <div>
            <div class="fields-row-1">
                <div style="width: 50%; flex: 0 auto">
                    <input class="text-field" type="text" name="name" value="{{actor.name}}" />
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.CharacterName')}}</label>
                </div>
                <div style="width: 5px"></div>
                <div style="flex: 1 1 auto">
                    <input class="text-field" type="text" name="system.player" value="{{system.player}}" />
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.Player')}}</label>
                </div>

            </div>
            <div class="fields-row-1">
                <div style="position: absolute; right: 50%; top: 80px; padding-right: 100px">
                    <button disabled hidden="hidden">
                        Level Up
                    </button>
                </div>
                <div style="width: 50%; flex: 0 auto">
                    <div class="text-field">{{system.level}}</div>
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.ClassAndLevel')}}</label>
                </div>
                <div style="width: 5px"></div>
                <div style="flex: 1 1 auto">
                    <div class="text-field race-field">{{localize (lookup @root.config.races system.raceLabel)}}</div>
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.Race')}}</label>
                </div>
                <div style="width: 5px"></div>
                <div style="max-width: 16%">
                    <div class="text-field alignment-field">{{localize (concatenate 'DND35E.AlignmentValues.' (toAlignment system.alignment.goodness system.alignment.lawfulness))}}</div>
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.Alignment')}}</label>
                </div>
                <div style="width: 5px"></div>
                <div style="max-width: 16%">
                    <input class="text-field" type="text" name="system.deity" />
                    <label class="text-field-label">{{toUpperCase (localize 'DND35E.Deity')}}</label>
                </div>

            </div>
        </div>
        <div class="logo-section">
            <img class="dnd-logo" src="systems/DnD35e/assets/dnd_logo.png" title="logo"/>
            <label>
                {{toUpperCase (localize 'DND35E.SheetName')}}
            </label>
        </div>

    </header>
    <div class="main-region">
        <aside class="sidebar">
            <div>
                <div style="display: flex">
                    <div style="width: 94px; flex: none">

                    </div>
                    <label style="flex: none;font-size: 65%;margin: 0; width: 60px; align-items: center;display: flex; align-content: center; justify-content: center;text-align: center">
                        {{toUpperCase (localize 'DND35E.InitiativeLabel.Total')}}
                    </label>
                    <label style="flex: none;font-size: 65%;margin: 0; width: 60px; align-items: center;display: flex; align-content: center; justify-content: center;text-align: center">
                        {{toUpperCase (localize 'DND35E.InitiativeLabel.DexModifier')}}
                    </label>
                    <label style="flex: none;font-size: 65%;margin: 0; width: 55px; align-items: center;display: flex; align-content: center; justify-content: center;text-align: center">
                        {{toUpperCase (localize 'DND35E.InitiativeLabel.MiscModifier')}}
                    </label>
                    <label style="font-size: 65%;margin: 0;align-items: center;display: flex; align-content: center; justify-content: center;text-align: center; flex: auto">
                        {{toUpperCase 'Exp'}}
                    </label>

                </div>
                <div style="display: flex; align-content: center; justify-content: center;align-items: center;">
                    <div class="initiative-label initiative">
                        <label class="ability-abbr">{{toUpperCase 'Initiative'}}</label>
                    </div>
                    <span class="value-square ability-mod initiative">{{numberFormat system.abilities.dex.mod decimals=0}}</span>
                    <div style="flex: none">
                        =
                    </div>
                    <span class="value-square ability-mod">{{numberFormat system.abilities.dex.mod decimals=0}}</span>
                    <div style="flex: none">
                        +
                    </div>
                    <span class="value-square ability-mod">0</span>
                    <div style="flex: none; width: 10px;"></div>
                    <input class="exp-field" type="text" name="system.xp" value="{{system.xp}}" data-dtype="Number"/>
                </div>
            </div>

            <div class="abilities flexcol">
                <div class="ability flexrow flex-group-center">
                    <label class="ability-label-name">
                        {{toUpperCase (localize 'DND35E.AbilityLabel.AbilityName')}}
                    </label>
                    <label class="ability-label-score">
                        {{toUpperCase (localize 'DND35E.AbilityLabel.AbilityScore')}}
                    </label>
                    <label class="ability-label-modif">
                        {{toUpperCase (localize 'DND35E.AbilityLabel.AbilityModifier')}}
                    </label>
                    <label class="ability-label-tempscore">
                        {{toUpperCase (localize 'DND35E.AbilityLabel.TempScore')}}
                    </label>
                    <label class="ability-label-tempmodif">
                        {{toUpperCase (localize 'DND35E.AbilityLabel.TempModif')}}
                    </label>
                </div>
                {{#each system.abilities as |ability key|}}
                    <div class="ability flexrow flex-group-center">
                        <div class="ability-label rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">
                            <label for="system.abilities.{{key}}.value" class="ability-abbr rollable">{{toUpperCase (localize (lookup @root.config.abilityAbbreviations key))}}</label>
                            <br>
                            <label for="system.abilities.{{key}}.value" class="ability-long resource-label flexlarge align-center rollable" data-label="{{localize (lookup @root.config.abilities key)}}">{{toUpperCase (localize (lookup @root.config.abilities key))}}</label>
                        </div>
                        <input class="value-square" type="text" name="system.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                        <span class="value-square ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                        <div class="temporary-ability">
                            <span class="value-square ability-mod rollable" data-roll="d20+@abilities.{{key}}.temp_mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.temp decimals=0}}</span>
                            <div style="width: 10px; flex: none"></div>
                            <span class="value-square ability-mod rollable" data-roll="d20+@abilities.{{key}}.temp_mod" data-label="{{localize (lookup @root.config.abilities key)}}">{{numberFormat ability.temp_mod decimals=0 sign=true}}</span>
                        </div>
                    </div>
                {{/each}}
            </div>
        </aside>
        <div style="flex: none; width: 1px; border-right: solid black 1px; margin-left: 5px; margin-right: 0"></div>
        <div class="tab-section">

            <nav class="sheet-tabs tabs text-field-label" data-group="primary">
                <a class="item" data-tab="general">{{toUpperCase (localize 'DND35E.TabName.General')}}</a>
                <a class="item" data-tab="skills">{{toUpperCase (localize 'DND35E.TabName.Skills')}}</a>
                <a class="item" data-tab="spells">{{toUpperCase (localize 'DND35E.TabName.Spells')}}</a>
                <a class="item" data-tab="equipment">{{toUpperCase (localize 'DND35E.TabName.Equipment')}}</a>
                <a class="item" data-tab="inventory">{{toUpperCase (localize 'DND35E.TabName.Inventory')}}</a>
                <a class="item" data-tab="description">{{toUpperCase (localize 'DND35E.TabName.Description')}}</a>
            </nav>

            <section class="sheet-body">
                <div class="tab general" data-group="primary" data-tab="general">
                    General
                </div>
                <div class="tab skills" data-group="primary" data-tab="skills">
                    <div class="flexrow flex-group-center">
                        <div style="flex: none; width: 30px; text-align: center; font-size: 65%;">
                            Class Skill
                        </div>
                        <div style="width: 45px; text-align: center; font-size: 65%;">
                            Skill Name
                        </div>
                        <div style="width: 45px; text-align: center; font-size: 65%;">
                            Key Ability
                        </div>
                        <div style="flex: none; width: 60px; text-align: center; font-size: 65%;">
                            Skill Modifier
                        </div>
                        <div style="flex: none; width: 60px; text-align: center; font-size: 65%;">
                            Ability Modifier
                        </div>
                        <div style="flex: none; width: 60px; text-align: center; font-size: 65%;">
                            Ranks
                        </div>
                        <div style="flex: none; width: 60px; text-align: center; font-size: 65%;">
                            Misc Modifier
                        </div>
                        <div style="flex: none; width: 15px">
                        </div>
                    </div>
                    {{#each system.skills as |skill key|}}
                        <div class="flexrow flex-group-center">
                            <div style="width: 30px; flex: none">
                                <input value="{{skill.classSkill}}" type="checkbox" class="class-skill" name="system.skills.{{key}}.classSkill" {{checked skill.classSkill}} data-dtype="Boolean"/>
                            </div>
                            <div class="rollable" data-roll="d20+@skills.{{key}}.mod" data-roll-type="skill" data-label="{{localize (lookup @root.config.skillNames key)}}" style="text-align: left">
                                {{toUpperCase (localize (lookup @root.config.skillNames key))}}
                                {{#if (lookup @root.config.skillUntrainedUse key)}}
                                    ■
                                {{/if}}
                            </div>
                            <div style="width: 50px; flex: none; text-align: left">
                                {{toUpperCase (localize (lookup @root.config.abilityAbbreviations (lookup @root.config.skillAbilities key)))}}
                                {{#if (lookup @root.config.skillArmorPenalty key)}}
                                    *
                                {{/if}}
                            </div>
                            <div style="width: 30px; flex: none">
                                {{numberFormat skill.mod  decimals=0 sign=true}}
                            </div>
                            <div style="width: 30px; flex: none">
                                =
                            </div>
                            <div style="width: 30px; flex: none">
                                {{skill.abilityMod}}
                            </div>
                            <div style="width: 30px; flex: none">
                                +
                            </div>
                            <div style="width: 30px; flex: none">
                                {{skill.rank}}
                            </div>
                            <div style="width: 30px; flex: none">
                                +
                            </div>
                            <div style="width: 30px; flex: none">
                                {{skill.miscMod}}
                            </div>
                            <div style="width: 30px; flex: none">

                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="tab spells" data-group="primary" data-tab="spells">
                    Spells
                </div>
                <div class="tab equipment" data-group="primary" data-tab="equipment">
                    Equipment
                </div>
                <div class="tab inventory" data-group="primary" data-tab="inventory">
                    Inventory
                </div>
                <div class="tab description" data-group="primary" data-tab="description">
                    <div style="display: flex; width: 100%">
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.size" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Size')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.description.age" value="{{system.description.age}}" data-dtype="Number" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Age')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.description.gender" value="{{system.description.gender}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Gender')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 25%">
                            <input class="text-field" type="text" name="system.description.size" value="{{system.description.size}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Height')}}</label>
                        </div>
                    </div>
                    <div style="display: flex; width: 100%">
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.description.weight" value="{{system.description.weight}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Weight')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.description.eyes" value="{{system.description.eyes}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Eyes')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 24%">
                            <input class="text-field" type="text" name="system.description.hair" value="{{system.description.hair}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Hair')}}</label>
                        </div>
                        <div style="width: 5px"></div>
                        <div style="flex: 1 1 auto; max-width: 25%">
                            <input class="text-field" type="text" name="system.description.skin" value="{{system.description.skin}}" data-dtype="String" />
                            <label class="text-field-label">{{toUpperCase (localize 'DND35E.Skin')}}</label>
                        </div>

                    </div>

                </div>
            </section>
        </div>
    </div>


</form>